body {
    font: 16px/1.5 'Microsoft YaHei';
    color: #333333;
    background-color: #f5f5f5;
}
p {
    text-indent: 2em;
}
a {
    color: #999999;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}
h2 {
    font-weight: normal;
}
.w1200 {
    width: 1200px;
    margin: 0 auto;
    position: relative; 
}
.image-container {
    position: relative; 
}
.text-overlay h2 {
    margin: 0;
}
#title1 {
    position: absolute;
    display: flex;
    
    left: 40px;
    top: 30px;
    margin: auto;
    color: #07181bc3;
    font-size: 50px;
    font-weight: 500;
}
#title2{
    position: absolute;
 

    left: 240px;

    top: 120px;
    margin: auto;

    color: #000000f9;
    font-size: 60px;
    font-weight: 550;
}
header img {
    width: 100%;
    height: 400px;
}
nav {
    height: 45px;
    background-color: #9b322e;
}

nav ul {
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 0 40px;
    line-height: 45px;
    color: #fff;
}

nav ul li:hover {
    transform: scale(1.2);
    background: rgba(26, 115, 232, 0.3);
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px; /* 根据需要设置最大宽度 */
    margin: 0 auto; /* 居中显示 */
    overflow: hidden; /* 隐藏超出部分 */
}

.slider {
    display: flex;
    overflow-x: auto; /* 横向滚动 */
    scroll-snap-type: x mandatory; /* 强制按X轴滚动 */
    -webkit-overflow-scrolling: touch; /* 兼容iOS的滚动效果 */
    width: 70%; /* 占据70%的宽度 */
    height: 575px; /* 设置固定高度为 400 像素 */
}

.slide {
    flex: 0 0 auto; /* 不可伸缩，不可收缩 */
    position: relative;
    scroll-snap-align: start; /* 滚动对齐方式 */
}

.slide img {
    width: 100%;
    display: block;
}

.slide-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
    color: white;
    padding: 10px;
}

.person-info {
    width: 30%; /* 占据30%的宽度 */
    padding-left: 20px;
    box-sizing: border-box;
}

#container1_1 img {
    width: 100%; /* 图片宽度100%填充容器 */
    display: block;
    border: 50%; /* 圆形边框 */
    overflow: hidden; /* 防止图片溢出 */
}
#container1_2 p {
    margin: 5px 0;
    background-color: lightblue; /* 设置背景颜色 */
    padding: 7px; /* 添加内边距 */
}
#container2_1{
    max-width: 1200px;
    background-color: lightblue;
    margin: 0 auto; /* 居中显示 */
    height: 250px
}
h3 {
    text-align: center; /* 将内容居中 */
    font-size: 24px; /* 设置字号为 24 像素（根据需要调整大小） */
    font-weight: bold; /* 加粗字体 */
}
